body {
  background-color: #ffc300;
}
.imprint {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.a-tag {
  text-decoration: none;
  color: yellow;
  border: 2px solid black;
  background-color: black;
  border-radius: 12px;
  padding: 4px;
}
p {
  font-size: 24px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
