body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: red;
  z-index: 1001;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 480px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 100px;
}

#start-screen,
#gameOverScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1000;
}

#start-screen {
  background-color: rgba(0, 0, 0, 0.5);
}

#gameOverScreen {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../img/9_intro_outro_screens/start/gamerover-screen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2em;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/9_intro_outro_screens/start/startscreen_2.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

button {
  font-size: 20px;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
}
